{% load staticfiles %}
{% load mathfilters %}
<!DOCTYPE html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <meta charset="UTF-8">
    <title>Eagle Financial Services</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Eagle Financial Services, your Midwest Financial Services Partner.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Customer Portfolio</h2>
</div>

<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Portfolio Initial Investments</th>
            <th>Portfolio Current Investments</th>
            <th>Grand Total Results</th>
        </tr>
        </thead>
        <tbody>
        <tr>
         <td>{{ Portfolio_Initial}}</td>
         <td>{{Porfolio_Final}}</td>
         <td>{{ Porfolio_Final|sub:Portfolio_Initial}}</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>


<div>
    <table class="table table-striped table-bordered table-hover"  style="max-width: 350px" >
        <thead>
        <tr class="bg-info"   >

            <th>Cust ID</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>

        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.purchase_price }}</td>
                <td>{{ stock.initial_stock_value }}</td>
                <td>{{ stock.current_stock_price }}</td>
                <td>{{ stock.current_stock_value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Total of Initial Stocks</th>
            <th>Total of Current Stocks</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        <tr>
         <td>{{ sum_initial_stock_value }}</td>
         <td>{{sum_current_stock_value}}</td>
         <td>{{sum_current_stock_value|sub:sum_initial_stock_value}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Investment Information</h2>
</div>


<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Cust ID</th>
            <th>Category</th>
            <th>Description</th>
            <th>Acquired Value</th>
            <th>Acquired Date</th>
            <th>Recent Value</th>
            <th>Recent Date</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        {% for invest in investments %}
            <tr>
                <td>{{ invest.customer }}</td>
                <td>{{invest.category}}</td>
                <td>{{invest.description}}</td>
                <td>{{ invest.acquired_value }}</td>
                <td>{{ invest.acquired_date }}</td>
                <td>{{ invest.recent_value }}</td>
                <td>{{invest.recent_date}}</td>
                <td>{{invest.results_by_investment}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Total of Initial Investments</th>
            <th>Total of Current Investments</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{Sum_Init_Investment }}</td>
                <td>{{Sum_Final_Invst}}</td>
                <td>{{Sum_Final_Invst|sub:Sum_Init_Investment}}</td>

            </tr>

        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Mutual Funds Information</h2>
</div>

<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Cust ID</th>
            <th>Category</th>
            <th>Units</th>
            <th>Acquired Value</th>
            <th>Acquired Price</th>
            <th>Recent Value</th>
            <th>Recent Price</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        {% for mutualfund in mutualfunds %}
            <tr>
                <td>{{ mutualfund.customer }}</td>
                <td>{{ mutualfund.category }}</td>
                <td>{{ mutualfund.description }}</td>
                <td>{{ mutualfund.units }}</td>
                <td>{{ mutualfund.acquired_value  }}</td>
                <td>{{ mutualfund.acquired_date  }}</td>
                <td>{{ mutualfund.recent_value  }}</td>
                <td>{{ mutualfund.results_by_mutualfunds}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <table class="table table-striped table-bordered table-hover" style="max-width: 620px">
        <thead>
        <tr class="bg-info">

            <th>Total Initial MutualFunds</th>
            <th>Total of Current MutualFunds</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{Sum_Init_MF }}</td>
                <td>{{Sum_Final_MF }}</td>
                <td>{{Sum_Final_MF|sub:Sum_Init_MF}}</td>

            </tr>

        </tbody>
    </table>
</div>